/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */
// .wp-block-igor-blocks-accordion
// 	.block-editor-inner-blocks
// 	.block-editor-block-list__layout {
// 	.block-editor-block-list__block .block-list-appender {
// 		position: relative !important;
// 		// width: auto !important;
// 	}
// 	.block-editor-button-block-appender.components-button.components-button::after {
// 		content: "Add Accordion Item";
// 	}
// 	.components-button svg {
// 		display: none;
// 	}
// }

.wp-block-igor-blocks-accordion {
	.block-list-appender {
		position: relative !important;
		width: 100% !important;
		margin-bottom: 10px !important;
	}
	.components-button.block-editor-button-block-appender {
		&::after {
			content: "Add Accordion Item";
		}
		svg {
			display: none;
		}
	}
}
